---
sidebar_cats:
- events
- tickets
---

<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ page.i18n.KoliseoHelp }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/less/koliseo.css">
  <link rel="stylesheet" href="/less/style.css">
  <script>
    
    if (!!document.createElementNS && !!document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect) {
      document.documentElement.className += ' svg';
    }

  </script>
  <!--[if lt IE 9]><script>window.location.href=/(http(s?):\/\/[^\/]+).*/.exec(window.location.href)[1] + '/browser-not-supported.html'</script><![endif]-->
</head>
<body>

  {% assign lang = page.categories.first %}
  <nav class="navbar header">
    <a href="http://koliseo.com" class="klogo">Home</a>
    <img class="klogo print" src="/less/img/logo.svg" alt="Koliseo">

    <form class="topbar-form navbar-search hidden-phone" action="http://www.google.com/search" method="get">
        <input type="search" name="q" class="search-input" autocomplete="off" placeholder="{{page.i18n.SearchPlaceHolder}}" results="0">
        <input type="hidden" name="sitesearch" value="help.koliseo.com">
    </form>

    <ul class="nav">
      {% for cat in (page.sidebar_cats) %}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown"> {{ page.i18n[cat] }} </a>
        <ul class="dropdown-menu">
          {% for post in site.posts reversed %}
            {% if post.categories contains cat and post.categories contains lang %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
      <li><a href="/{{lang}}/developers">{{page.i18n.Developers}}</a></li>
    </ul>


    <ul class="nav pull-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown"><span class="gear"><span class="icon-gear"></span><span class="icon-down-dir"></span></span></a>
          <ul class="dropdown-menu">
            <li><a class="locale" href="/es">Español</a></li>
            <li><a class="locale" href="/en">English</a></li>
          </ul>
      </li>
    </ul>
    <div class="clearfix"></div>
  </nav>

  <section role="main" class="container">
    <div class="row">
      <h1>{{ page.title }} <small>{{page.small}}</small></h1>
      {{ content }}
    </div>
  </section>

<footer class="navbar noprint footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span12 nav">
        <a class="social login-provider-a twitter pull-right" title="Follow us on Twitter" href="http://twitter.com/koliseoapi"><span class="social-icon" data-icon="t"></span> </a>

        <a class="gpoweredby inlined" href="/">powered by Koliseo</a> 
      
        <ul class="pfooter-ul">
          <li class="pfooter-li">
            <a class="pfooter-a" href="/{{lang}}">{{ page.i18n.AboutUs }}</a> · 
            <a class="pfooter-a" href="https://www.koliseo.com/legal">Legal</a>
          </li>
        </ul> 
      </div>
      
    </div>
    
  </div>
</footer>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/jquery.js"><\/script>')</script>
  <script src="/js/dropdown.js"></script>
  <script>
  $('.locale').click(function(e) {
    location.pathname = location.pathname.replace(/^\/[^/]+/, $(e.currentTarget).attr('href'))
    e.preventDefault();
  })
  </script>
  <script>var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-9562146-1'],['_setDomainName','koliseo.com'],['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();</script>
</body>
</html>